$primary-color: #93a8ac;;
$secondary-color: #ff686b;
$text-color: #333;
$grey: rgb(200, 200, 200);

$color1: #4c5760;
$color2: #93a8ac;
$color3: #D7CEB2;
$color4: #A59E8c;
$color5: #66635B;


@import './_base.scss';
@import './_components.scss';
@import './_navigation.scss';
@import './_session.scss';
@import './_projects.scss';